<<<<<<< HEAD
            /*Reset y atributos para todas las paginas*/
            
            * {
                padding: 0%;
                margin: 0%;
                box-sizing: border-box;
            }
            
            body {
                background-color: map-get($colores, "back");
                color: map-get($colores, "blanco");
            }
            
            h1 {
                color: map-get($colores, "dorado");
            }
            
            h2 {
                color: map-get($colores, "dorado");
            }
            
            li {
                transition: background 3s;
            }
            
            li:hover {
                background: map-get($colores, "dorado");
            }
            /* media queries para todas las paginas exepto para algunos elementos */
            
            @media (max-width: 576px) {
                h1 {
                    font-size: 1.8rem;
                }
                h2 {
                    font-size: 1.5rem;
                }
                h3 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 1rem;
                }
                footer {
                    font-size: 1rem;
                }
            }
            
            @media (min-width: 577px) {
                h1 {
                    font-size: 2rem;
                }
                h2 {
                    font-size: 1.8rem;
                }
                h3 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1.2rem;
                }
                footer {
                    font-size: 1rem;
                }
            }
            
            @media (min-width: 768px) {
                h1 {
                    font-size: 3rem;
                }
                h2 {
                    font-size: 2.5rem;
                }
                h3 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 1.5rem;
                }
                footer {
                    font-size: 1.5rem;
                }
            }
=======
/*Reset y atributos para todas las paginas*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

h1 {
    color: gold;
}

li {
    transition: background 3s;
}

li:hover {
    background-color: gold;
}
>>>>>>> 0e33ddb97ac0d01a2794ec70048d95fcfd5e3437
